<div class="container">
  <div class="jumbotron">
    <h1>Planner app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aut laboriosam beatae, rem hic nostrum
      voluptates id necessitatibus consequatur accusamus repellendus odit ad! Cupiditate culpa dolores temporibus nisi
      alias! Quae earum autem dolores culpa aliquid exercitationem, consequuntur illum porro. Quae tempore neque, nesciunt
      veniam ipsum quisquam odit quo hic expedita.</p>
  </div>
</div>