<Navbar></Navbar>
<!-- <div class="container-fluid">
    <div class="row">
        <AddNewEvent class="col-lg-2 col-md-3 col-sm-12 col-12"></AddNewEvent>
        <ListEvents class="col-lg-6 col-md-9 col-sm-12 col-12"></ListEvents>
        <EventDetails class="col-lg-4 col-md-12 col-sm-12 col-12"></EventDetails>
    </div>
</div> -->


<router-outlet></router-outlet>

<notifier-container></notifier-container>

<ngx-spinner bdColor = "rgba(59,81,219,0.8)" size = "medium" color = "#28419a" type = "ball-elastic-dots" [fullScreen] = "true"><p style="color: white" > One moment... </p></ngx-spinner>
