<Navbar></Navbar>
<div class="container-fluid">
    <div class="row">
        <AddNewEvent class="col-lg-2 col-md-3 col-sm-12 col-12"></AddNewEvent>
        <ListEvents class="col-lg-6 col-md-9 col-sm-12 col-12"></ListEvents>
        <EventDetails class="col-lg-4 col-md-12 col-sm-12 col-12"></EventDetails>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card text-center">
          <div class="card-header">
            <img width="100%"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png">
          </div>
          <div class="card-body">
            <h5 class="card-title">This is title</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas expedita voluptas molestias, animi delectus ad
              corrupti neque accusamus magnam maxime fugiat suscipit! Iste voluptates velit nisi! Impedit quos dolorum
              adipisci, obcaecati dolorem accusamus dolores incidunt tempore asperiores suscipit quod, corporis aut? Expedita
              iusto, eligendi ab quasi id eius incidunt nam.
            </p>
          </div>
          <div class="card-footer text-muted">
            03/04/2021
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>