<link rel="stylesheet" href="EventItem.component.css">
<div class="cardCont">

  <div class="card text-center">
    <div class="card-header" >
      <img class="card-img-top" height="225px" width="100%"[src]="myEvent.image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{myEvent.title}}</h5>
    </div>
    <div class="card-footer">
      <i (click)="changePriority()" *ngIf="myEvent.isPriority ===  false" class="far fa-square check"></i>
      <i (click)="changePriority()" *ngIf="myEvent.isPriority === true" class="far fa-check-square check"></i>
      <i (click)="changeIsHidden()" *ngIf="myEvent.isHidden === false" class="fas fa-eye eye"></i>
      <i (click)="changeIsHidden()" *ngIf="myEvent.isHidden === true" class="fas fa-eye-slash eye"></i>
      <i (click)="modal()" data-toggle="modal" data-target="#addNoteModal" class="plus fas fa-plus-square"></i>
      <i [routerLink]="['/editEvent', myEvent.id ]"class="edit far fa-edit"></i>
    </div>
    <div class="card-footer text-muted">
      {{myEvent.date}}
    </div>
    <button  [routerLink]="['/event', myEvent.id ]"  class="btn-bottom-radis btn btn-info">Details</button>
  </div>


</div>  




<div *ngIf="isModalVisible === true" class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">      
        <form #addNoteForm="ngForm" (ngSubmit)="onSubmit(addNoteForm)">
          <h2>Add new note to event:</h2>
          <div class="form-group">
            <label for="exampleInputEmail1">text</label>
            <input [(ngModel)]="model.text" type="text" class="form-control" id="txtTitle" name="txtTitle"  placeholder="Enter text">
          </div>
          <p class="text-danger">{{errorMessage}}</p>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
