  <link rel="stylesheet" href="EventItem.component.css">
  <div class="cardCont">
    <a class="linkToModal" data-toggle="modal" data-target="#exampleModal">
      <div class="card text-center">
        <div class="card-header">
          <img width="100%"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png">
        </div>
        <div class="card-body">
          <h5 class="card-title">This is title</h5>
        </div>
        <div class="card-footer text-muted">
          03/04/2021
        </div>
      </div>
    </a>

  </div>

 