.cardCont{
    padding: 10px;
}

.check{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 32px;
  color: rgb(62, 197, 152);
}

.check:hover{
  cursor: pointer;
  color: rgb(95, 175, 148);
}

.eye{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 32px;
  color: rgb(62, 109, 197);
}

.eye:hover{
  cursor: pointer;
  color: rgb(95, 123, 175);
}