
<div class="row">
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
  <EventItem class="col-lg-4 col-md-4 col-sm-6 col-12"></EventItem>
</div>