<link rel="stylesheet" href="EventDetails.component.css">
<div class="cardCont">

  <div class="card text-center">
    <div class="card-header">
      <img width="100%"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png">
    </div>
    <div class="card-body">
      <h5 class="card-title">This is title</h5>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas expedita voluptas molestias, animi delectus ad
        corrupti neque accusamus magnam maxime fugiat suscipit! Iste voluptates velit nisi! Impedit quos dolorum
        adipisci, obcaecati dolorem accusamus dolores incidunt tempore asperiores suscipit quod, corporis aut? Expedita
        iusto, eligendi ab quasi id eius incidunt nam.
      </p>
    </div>
    <div class="card-footer text-muted">
      03/04/2021
    </div>
  </div>

</div>